@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  background-color: rgb(200, 224, 245);
  transition: all 1s ease-out;
  font-family: "Poppins", sans-serif;
}
.container h1 {
  font-weight: 600;
  text-align: center;
  padding-top: 80px;
  margin-top: 80px;
  display: block;
  transition: all 1s ease-out;
}
#value {
  display: block;
  text-align: center;
  font-size: 80px;
  font-weight: 400;
  color: rgb(19, 19, 19);
  padding: 0%;
  margin: auto;
  transition: all 1s ease-out;
}
.btn-container {
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
  transition: all 1s ease-out;
}
.decrease,
.reset,
.increase {
  word-spacing: 5px;
  font-size: larger;
  font-weight: 100;
  border: 3px solid black;
  border-radius: 7px;
  background-color: aliceblue;
  transition: background-color 0.5s;
  margin-right: 10px;
  padding-right: 8px;
  transition: all 1s ease-out;
}
.decrease:hover,
.reset:hover,
.increase:hover {
  background-color: black;
  color: azure;
}
.decrease:focus,
.decrease:active {
  border: 3px solid rgb(205, 1, 1);
}
.reset:focus,
.reset:active {
  border: 3px solid black;
}
.increase:focus,
.increase:active {
  border: 3px solid green;
}
button {
  font-family: "Roboto Mono", serif;
  font-weight: 600;
}
